        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>Hakkında</h3>
                            </div>
                            <p> Süleyman Demirel Üniversitesi öğrencilerimizin staj başvurularını yapabilip,staj defterlerinin değerlendirileceği bir platformdur.</p>   
                            <div class="footer-right">
                                <ul class="footer-links-soi">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                
                                </ul><!-- end links -->
                            </div>						
                        </div><!-- end clearfix -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>Bilgilendirme Sayfaları</h3>
                            </div>
                            <ul class="footer-links">
                                <li><a href="#">Anasayfa</a></li>
                                <li><a href="#">Hakkında</a></li>
                                <li><a href="#">İletişim</a></li>
                            </ul><!-- end links -->
                        </div><!-- end clearfix -->
                    </div><!-- end col -->
                    
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>İletişim</h3>
                            </div>

                            <ul class="footer-links">
                                <li><a href="mailto:#">info@sdu.edu.tr</a></li>
                                <li><a href="#">www.sdu.edu.tr</a></li>
                                <li>SDÜ BATI KAMPÜSÜ </li>
                                <li>+90 555 555 7410</li>
                            </ul><!-- end links -->
                        </div><!-- end clearfix -->

                    </div><!-- end col -->

                         
                    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    <script>
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                        }
                    </script>
            
                    <div id="google_translate_element"></div>
                    
                </div><!-- end row -->

          
            </div><!-- end container -->

           

        </footer><!-- end footer -->


        <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

        

        <div id="google_translate_element"></div>

        <!-- ALL JS FILES -->
        <script src="/js/all.js"></script>
        <!-- ALL PLUGINS -->
        <script src="/js/custom.js"></script>

       
</body>
</html>