<%- include('./partials/_header.ejs') %> <%-
include('./partials/_navigation.ejs') %>

<div class="all-title-box">
  <div class="container text-center">
    <h1>Hakkında</h1>
  </div>
</div>

<div id="overviews" class="section lb">
  <div class="container">
    <div class="section-title row text-center">
      <div class="col-md-8 offset-md-2">
        <h3>Staj İşlemleri Hakkında</h3>
        <p class="lead">
          Bölümümüzde staj yapacak öğrencilerimizin işlemlerinin
          başlatılabilmesi için, Staj Yol Haritası içerisinde belirtilen
          adımları takip ederek başvuru sürecini tamamlaması gerekmektedir.
        </p>
      </div>
    </div>
    <!-- end title -->

    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="message-box">
          <h4>2024 Staj Başvuruları Hakkında</h4>
          <p>
            Staj yapacak öğrencilerimiz; Staj Tercih Dilekçesi ve Zorunlu Staj
            Başvuru Formu'nu (2 nüsha) Staj Yol Haritası ve Bölüm Staj
            Yönergesi'ndeki adımlara göre doldurduktan sonra, İş Sağlığı ve
            Güvenliği Sertifikası ve Transkript Belgesi ile birlikte staj
            başlama tarihinden en geç 10 gün önce bölüme teslim etmelidir. Aksi
            durumda stajınız başlatılamamaktadır. Bu nedenle staj başvurunuzu,
            sertifika sürecinizi ve iş yeri görüşmelerinizi erken bir tarihte
            yapmanız önerilir.
          </p>

          <p>
            İş Sağlığı ve Güvenliği Sertifikası alacak öğrencilerimiz, SDÜNet
            üzerinden Öğrenci Eğitim Modülüne (OGEM) giriş yaparak
            sertifikalarını alabilirler. Staj için gerekli olan tüm formlarda
            imza bölümlerinin mavi renkli kalemle ıslak imzalı şekilde, kalan
            kısımların ise bilgisayar ortamında doldurması gerekmektedir. Staj
            bitiminden sonra ilgili dokümanlar en geç 30 gün içinde bölüme
            teslim edilmelidir. Staj başvurularında firma tarafından istenmesi
            halinde bölümden Staj Zorunluluk Belgesi talep edebilirsiniz.
            Öğrenci e-posta adreslerinizden; numara, ad, soyad ve başvuru
            yapılacak firma bilgilerini açık şekilde belirterek belge talebinizi
            yucelyilmaz@sdu.edu.tr adresine e-posta yoluyla yapabilirsiniz. Staj
            ile ilgili evrak teslimlerini Arş. Gör. Yücel YILMAZ'a
            yapabilirsiniz. (Sorularınız varsa; e-posta adresinden veya dahili
            telefondan ulaşabilirsiniz.)
          </p>

          <a href="#" class="hover-btn-new orange"><span>Daha Fazla</span></a>
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="post-media wow fadeIn">
          <img src="images/sdu_logobaslik.png" alt="" class="img-fluid img-rounded" />
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->
    </div>
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="post-media wow fadeIn">
          <img src="images/bilmuh.png" alt="" class="img-fluid img-rounded" />
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="message-box">
          <h2>Belgeler</h2>
          <h4>Staj Öncesi Okunması Gerekenler:</h4>

          <ul>
            <li>Staj Yol Haritası</li>
            <li>Bölüm Staj Yönergesi</li>
            <li>Staj Uygulama ve Değerlendirme Esasları</li>
          </ul>
          <h4>Staj Başlangıcında Teslim Edilecek Dokümanlar:</h4>
          <ul>
            <li>Staj Tercih Dilekçesi (Yurtiçi)</li>
            <li>Staj Tercih Dilekçesi (Yurtdışı)</li>
            <li>Zorunlu Staj Başvuru Formu</li>
            <li>Transkript Belgesi</li>
            <li>İş Sağlığı ve Güvenliği Sertifikası</li>
          </ul>
          <h4>Staj Bitiminde Teslim Edilecek Dokümanlar:</h4>
          <ul>
            <li>Staj Teslim Tutanağı</li>
            <li>Staj Faaliyet Raporu</li>
            <li>Staj Değerlendirme Formu</li>
          </ul>

          <a href="#" class="hover-btn-new orange"><span>Daha Fazla</span></a>
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->

<div class="hmv-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
          <h3>Misyon</h3>
          <div class="tr-pa">M</div>
          <p>
            Öğrencilere gerçek dünya deneyimi kazandırmak ve teorik bilgilerini
            uygulamaya dönüştürmelerini sağlamak.
          </p>
          <p>
            Öğrencilerin iş dünyasında karşılaşacakları zorluklarla başa çıkma
            becerilerini geliştirmek.
          </p>
          <p>
            Öğrencilere kendi alanlarında pratik bilgi ve deneyim kazandırarak,
            mezuniyet sonrası iş bulmalarına yardımcı olmak.
          </p>
          <p>
            Öğrencilerin mesleki ağlarını genişletmek ve gelecekteki iş
            fırsatlarına erişimlerini artırmak.
          </p>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
          <h3>Vizyon</h3>
          <div class="tr-pa">V</div>
          <p>
            Öğrencilerin staj sürecinden maksimum fayda sağlamalarını sağlamak
            için kaliteli staj fırsatları sunmak.
          </p>
          <p>
            Öğrencilerin staj sürecinde mentorluk ve rehberlik alarak kendi
            yeteneklerini ve ilgi alanlarını keşfetmelerine yardımcı olmak.
          </p>
          <p>
            Öğrencilerin staj sürecinde etik değerlerle donanmış bir şekilde
            profesyonel davranışlar sergilemelerini teşvik etmek.
          </p>
          <p>
            Öğrencilerin staj sürecini bir öğrenme ve kişisel gelişim fırsatı
            olarak görmelerini sağlamak.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="inner-hmv">
          <div class="icon-box-hmv"><i class="flaticon-history"></i></div>
          <h3>Tarihçe</h3>
          <div class="tr-pa">H</div>
          <p>Süleyman Demirel Üniversitesi (SDÜ), Türkiye'nin Isparta şehrinde bulunan bir devlet üniversitesidir. İşte kısa bir tarihçesi:

            SDÜ, 1976 yılında kurulmuştur. O dönemde adı Isparta Yüksek Teknoloji Enstitüsü olarak belirlenmiştir.
            Üniversite, kuruluşundan sonra zamanla büyümüş ve fakülteler, enstitüler ve meslek yüksekokulları gibi çeşitli akademik birimler eklenmiştir.
            1992 yılında, Isparta Yüksek Teknoloji Enstitüsü, Süleyman Demirel adını alarak Süleyman Demirel Üniversitesi haline gelmiştir. 
        </div>
      </div>
    </div>
  </div>
</div>


<!-- end section -->

<%- include('./partials/_footer.ejs') %>
