<%- include('./partials/_header'); %>
<%- include('./partials/_navigation'); %>

<div class="all-title-box">
    <div class="container text-center">
    <h1>Inbox</h1>
    </div>
</div>
<div>
   ISEMBO
</div>


<%- include('./partials/_footer'); %>